
html{ font-size: 16px; }

.bg-orangered{ background: #E76F51 !important; }
.text-orangered{ color: #E76F51 !important; }

#home{
    background: #264653;
}

.img-grayscale{
    filter: grayscale(100%);
    transition: filter 500ms ease-in-out;
}
.img-grayscale:hover{
    filter: grayscale(0);
}

.accordion-button{ box-shadow: none !important; }
.accordion-button::after{
    background-image: url(img/accordian-arrow.svg) !important;
}