@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@300;400;700&display=swap');

/* base styles */
html{ font-size: 16px; }
*{
    font-family: 'Poppins', sans-serif;
}

/* common styles */
.bg-orangered{ background: #E76F51 !important; }
.text-orangered{ color: #E76F51 !important; }


/* home section styles */
#home{
    background: #264653;
}

/* featured bike filter */
.img-grayscale{
    filter: grayscale(100%);
    transition: filter 500ms ease-in-out;
}
.img-grayscale:hover{
    filter: grayscale(0);
}

/* faq section styles */
#faqAccordian{
    font-family: 'Inter', 'Poppins', sans-serif;
}


/* features section styles */
.carousel-indicators .active{
    color:#E76F51;
    font-weight: bold;
}
.carousel-indicators{ font-size: 13px; }
@media screen and (min-width: 768px) {
    .carousel-indicators{ font-size: 20px; }
}


/* offers section styles */
#offers img{
    filter: blur(10px) brightness(80%);
    transition: filter 500ms ease;
}
#offers:hover img{
    filter: blur(5px) brightness(90%);
}
#offers img:hover{
    filter: blur(0);
}